html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.game-scene {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .menu-container {
    position: absolute;
    top: 50%;
    left: 50%;
    .btn-start {
      margin-left: -50px;
      width: 100px;
      height: 40px;
      border: 1px solid #ccc;
      text-align: center;
      line-height: 40px;
      margin-top: -10px;
    }
  }
  .result-container {
    width: 200px;
    top: 50%;
    right: 0;
    position: absolute;
    text-align: left;
  }
  .btn-container {
    .btn-group {
      position: absolute;
      top: 60%;
      // left: 50%;
      width: 100%;
      text-align: center;
      .button {
        display: inline-block;
        width: 100px;
        height: 40px;
        border: 1px solid #ccc;
        text-align: center;
        text-align: center;
        line-height: 40px;

        color: #fff;
        &.disabled {
          background: #fff;
          color: #ccc;
        }
        &.green {
          background: green;
        }
        &.yellow {
          background: yellow;
        }
        &.red {
          background: red;
        }
        &.blue {
          background: blue;
        }
      }
      .button+.button {
        margin-left: 30px;
      }
    }
  }
}

.handcards-container {
  width: 100%;
  // display: flex;
  // flex-direction: row;
  // background: #cccccc;
  position: absolute;
  vertical-align: top;
  // height: 100px;
  text-align: center;
  left: 0;
  &.basecards-container {
    top: 50%;
    width: 200px;
    text-align: center;
    .basecards {
      width: 100%;
      margin-top: -30px;
    }
  }
  &.agacards-container {
    top: 0;
    .outcards {
      width: 100%;
      margin-top: 60px;
    }
  }
  &.selfcards-container {
    bottom: 0;
    .outcards {
      width: 100%;
      margin-bottom: 60px;
    }
  }
  .handcards {
    display: inline-block;
  }
  .handcard {
    // flex-grow: 1;
    border: 1px solid #999999;
    width: 40px;
    height: 60px;
    display: inline-block;
    line-height: 16px;
    vertical-align: top;
    transition: transform .1s linear;
    &.move-up {
      transform: translate3d(0, -20px, 0);
    }
    &.picking {
      background: rgba(0, 0, 0, 0.3);
      transition: background 0.1s linear all;
    }
  }

  .outcard {
    border: 1px solid #999999;
    width: 28px;
    height: 42px;
    display: inline-block;
    vertical-align: top;
  }

  .cardtype {
    font-size: 12px;
    height: 12px;
  }

}